.input-box{
    padding : 5px;
}

h1{
    color:#423629;
}
.td-info{
    width: 75px;
}
.td-info{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color:#667761;
    text-decoration: underline;
}

#foot-note{
    display: block;
}